<div class="footer light_grey_bg ibm_font">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="footer_box">
          <div style="flex-basis: 30%" class="elem">
            <a routerLink="/" class="footer_logo-box">
              <img class="logo" src="/assets/img/footer_logo.svg" />
            </a>

            <div class="footer_info">
              <span
                >Emirex.com, BME Technologies OU is a licensed crypto to fiat
                exchange, authorised by the Central Bank of Estonia.
              </span>
            </div>

            <div class="socials">
              <span>Community</span>
              <a
                href="https://www.facebook.com/emirex.official/"
                target="_blank"
                ><img src="/assets/img/soc/face.svg" alt=""
              /></a>
              <a
                href="https://www.instagram.com/emirex_official/"
                target="_blank"
                ><img src="/assets/img/soc/insta.svg" alt=""
              /></a>
              <a href="https://twitter.com/EMIREX_OFFICIAL" target="_blank"
                ><img src="/assets/img/soc/twit.svg" alt=""
              /></a>
              <a href="tg://resolve?domain=emirex_official  " target="_blank"
                ><img src="/assets/img/soc/tg.svg" alt=""
              /></a>
              <a href="https://medium.com/@EMIREX_OFFICIAL" target="_blank"
                ><img src="/assets/img/soc/m.svg" alt=""
              /></a>
              <a
                href="https://www.linkedin.com/company/emirexgroup/?viewAsMember=true"
                target="_blank"
                ><img src="/assets/img/soc/in.svg" alt=""
              /></a>
              <a
                href="https://www.reddit.com/user/Emirex__official/comments/d1vsum/introducing_the_next_stage_in_the_technology_roll/"
                target="_blank"
                ><img src="/assets/img/soc/reddit.svg" alt=""
              /></a>
              <a
                href="https://coinmarketcap.com/exchanges/emirex "
                target="_blank"
                ><img src="/assets/img/soc/cmc.svg" alt=""
              /></a>
              <a
                href="https://www.coingecko.com/en/exchanges/emirex"
                target="_blank"
                ><img src="/assets/img/soc/cg.svg" alt=""
              /></a>
            </div>
          </div>

          <div
            style="flex-basis: 70%; padding-left: 165px; flex-wrap: wrap"
            class="elem"
          >
            <div class="footer_nav_elem">
              <div class="footer_heading">
                {{ "Products" | translate }}
              </div>
              <ul>
                <li>
                  <a
                    href="https://emirex.com/trading/btcusdt"
                    target="_blank"
                    >{{ "Spot Trade" | translate }}</a
                  >
                </li>
                <li>
                  <a
                    href="https://emirex.com/investments/ieo"
                    target="_blank"
                    >{{ "IEO" | translate }}</a
                  >
                </li>
                <li>
                  <a
                    href="https://emirex.com/referral-commission"
                    target="_blank"
                    >{{ "Referral Program" | translate }}</a
                  >
                </li>
              </ul>
            </div>
            <div class="footer_nav_elem">
              <div class="footer_heading">
                {{ "Service" | translate }}
              </div>
              <ul>
                <li>
                  <a href="https://kb.emirex.com/" target="_blank">{{
                    "Knowledge Base" | translate
                  }}</a>
                </li>
                <li>
                  <a
                    href="https://kb.emirex.com/kb-tickets/new"
                    target="_blank"
                    >{{ "Submit a Ticket" | translate }}</a
                  >
                </li>
              </ul>
            </div>
            <div class="footer_nav_elem">
              <div class="footer_heading">
                {{ "Legal" | translate }}
              </div>
              <ul>
                <li>
                  <a href="https://emirex.com/terms" target="_blank">{{
                    "Terms of Use" | translate
                  }}</a>
                </li>
                <li>
                  <a href="https://emirex.com/privacy" target="_blank">{{
                    "Privacy" | translate
                  }}</a>
                </li>
                <li>
                  <a href="https://emirex.com/kyc_policy" target="_blank">{{
                    "KYC/AML Policy" | translate
                  }}</a>
                </li>
              </ul>
            </div>
            <div class="footer_nav_elem">
              <div class="footer_heading">
                {{ "Advisory" | translate }}
              </div>
              <ul>
                <li>
                  <a
                    href="https://advisory.emirex.com/services"
                    target="_blank"
                    >{{ "Our Services" | translate }}</a
                  >
                </li>
                <li>
                  <a
                    href="https://advisory.emirex.com/commodities"
                    target="_blank"
                    >{{ "Commodities" | translate }}</a
                  >
                </li>
                <li>
                  <a
                    href="https://advisory.emirex.com/expertise"
                    target="_blank"
                    >{{ "Expertise" | translate }}</a
                  >
                </li>
              </ul>
            </div>
            <div class="footer_nav_elem">
              <div class="footer_heading">
                {{ "Contact Us" | translate }}
              </div>
              <ul>
                <li>
                  <a href="https://emirex.com/about" target="_blank">{{
                    "About" | translate
                  }}</a>
                </li>
                <li>
                  <a href="https://blog.emirex.com/" target="_blank">{{
                    "Emirex Blog" | translate
                  }}</a>
                </li>
              </ul>
            </div>
            <div class="footer_nav_elem">
              <div class="footer_heading">
                {{ "Address" | translate }}
              </div>
              <ul>
                <li>
                  <a
                    >47, Peterburi tee, Lasnamäe linnaosa, Harju maakond,
                    Tallinn, Estonia</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="line">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="underground_box">
            <div class="euro">
              <span>Operating licenses</span>
              Financial services, providing a virtual currency wallet service;
              Number FRK000909 Financial services, providing services of
              exchanging a virtual currency against a fiat currency; Number
              FVR001017 Issuer of licences: Estonian Police and Boarder Guard
              Board (Politsei - ja Piirivalveamet)
            </div>
            <div class="cn">© 2020 Emirex.com All rights reserved</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
