<div class="modal-title">
  <h2 mat-dialog-title [innerHTML]="translate.instant('buy_tokens.title')"></h2>
  <button mat-dialog-close><img src="/assets/img/close.svg" alt=""></button>
</div>


  <div class="box">
    <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
      <div class="line">
        {{ 'buy_tokens.balance' | translate }} <strong>{{ daiBalance | number:'.0-3'}} DAI</strong>
      </div>

      <div class="input-group" style="padding-bottom: 0;">
        <mat-form-field appearance="outline">
          <mat-label>{{'buy_tokens.volume' | translate}}</mat-label>
          <input matInput formControlName="volume" class="get-input" type="number">
          <a (click)="maxValue()" matSuffix>MAX</a>
        </mat-form-field>
      </div>

      <div class="input-group">

        <div *ngIf="work?.status == 'done'" class="description">

          <button type="submit" class="bt_custom orange">
            {{'account_page.buy_tokens_' + state | translate}}
          </button>

        </div>

        <div *ngIf="work?.status == 'pending'" class="text-center" style="width: 100%; padding: 10px;">
          <div style="margin: 0 0 10px 0;">
            <a target="_blank" href="https://etherscan.io/tx/{{work?.hash}}">{{work?.description}}</a>
          </div>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

      </div>
    </form>


  </div>


