<h2 mat-dialog-title>{{'header.registration' | translate}}</h2>
<mat-dialog-content>
  <div class="box">
    <div class="input-group">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'auth.email' | translate}}</mat-label>
        <input matInput [(ngModel)]="email" class="get-input" type="email">
      </mat-form-field>
    </div>
    <div class="input-group">
      <div class="input-group-append">
        <button (click)="reg()" class="bt_custom orange">{{ 'auth.btn_reg' | translate }}</button>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'close' | translate}}</button>
</mat-dialog-actions>
