<div class="section1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="main_title">
          {{'why_need.why_title' | translate}}
        </div>
        <div class="list">
          <div class="item">
            <div class="ico">
              <img src="/assets/img/step1_ico.svg" alt="">
            </div>
            <div class="text">
              <strong class="ibm_font">Step 1</strong>
              {{'why_need.we_have' | translate}}
            </div>
            <div class="arrow">
              <img src="/assets/img/arrow_step.png" alt="">
            </div>
          </div>
          <div class="item">
            <div class="ico">
              <img src="/assets/img/step2_ico.svg" alt="">
            </div>
            <div class="text">
              <strong class="ibm_font">Step 2</strong>
              {{'why_need.you_isnt' | translate}}
            </div>
            <div class="arrow">
              <img src="/assets/img/arrow_step.png" alt="">
            </div>
          </div>
          <div class="item">
            <div class="ico">
              <img src="/assets/img/step3_ico.svg" alt="">
            </div>
            <div class="text">
              <strong class="ibm_font">Step 3</strong>
              {{'why_need.dont_time' | translate}}

            </div>
          </div>
        </div>
        <div class="bt_box">
          <button (click)="goToAccount()" class="bt_custom orange text-uppercase">{{'first_screen.open_deposit' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="box">
          <div class="left_part">
            <div class="head ibm_font">
              {{'why_need.test_safety' | translate}}
            </div>
          </div>
          <div class="right_part">
            <button (click)="goToAccount()" class="bt_custom green text-uppercase">{{'first_screen.open_deposit' | translate}}</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
